header{
    width: 100vw;
    height: 100vh;
    background-image: url(./images/bo.jfif);
    display: inline-block;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.head{
    margin-bottom: 150px;
    color: red;
    text-align: center;
}
.head h1{
    font-size: 40;
}
.lo